  <nav class="navbar" data-controller="toggle" data-toggle-class-value="active">
    <%= link_to root_path, class: "navbar__brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <ul class="navbar__menu" data-toggle-target="content">
        <li class="navbar__item flex items-center btn_language">
            <i class="fas fa-globe navbar__sphere"></i>
            <%= link_to "EN", locale: :en %>
            <p> | </p>
            <%= link_to "TH", locale: :th %>
        </li>
        <li class="navbar__item">
            <%= link_to "About",
                        about_path,
                        class: "btn btn--secondary" %>
        </li>
        <li class="navbar__item">
            <%= link_to "Sign in",
                        new_user_session_path,
                        class: "btn btn--secondary" %>
        </li>
    </ul>

    <div
      class="navbar__hamburger"
      data-action="click->toggle#toggle"
      data-toggle-target="content"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
